app4/Aggregator/Aggregator/Service References/XhardwareServiceProxy/X-Hardware.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://x-hardware.notld/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://x-hardware.notld/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://x-hardware.notld/">
      <s:element name="GetAllInformation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="prod_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllInformationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllInformationResult" type="tns:ServiceResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ServiceResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="QuantityInStock" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="DeliveryDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetStock">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="prod_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStockResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetStockResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPrice">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="prod_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPriceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetPriceResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveryDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="prod_id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDeliveryDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDeliveryDateResult" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllInformationSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllInformation" />
  </wsdl:message>
  <wsdl:message name="GetAllInformationSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllInformationResponse" />
  </wsdl:message>
  <wsdl:message name="GetStockSoapIn">
    <wsdl:part name="parameters" element="tns:GetStock" />
  </wsdl:message>
  <wsdl:message name="GetStockSoapOut">
    <wsdl:part name="parameters" element="tns:GetStockResponse" />
  </wsdl:message>
  <wsdl:message name="GetPriceSoapIn">
    <wsdl:part name="parameters" element="tns:GetPrice" />
  </wsdl:message>
  <wsdl:message name="GetPriceSoapOut">
    <wsdl:part name="parameters" element="tns:GetPriceResponse" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryDateSoapIn">
    <wsdl:part name="parameters" element="tns:GetDeliveryDate" />
  </wsdl:message>
  <wsdl:message name="GetDeliveryDateSoapOut">
    <wsdl:part name="parameters" element="tns:GetDeliveryDateResponse" />
  </wsdl:message>
  <wsdl:portType name="XHardwareSoap">
    <wsdl:operation name="GetAllInformation">
      <wsdl:input message="tns:GetAllInformationSoapIn" />
      <wsdl:output message="tns:GetAllInformationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStock">
      <wsdl:input message="tns:GetStockSoapIn" />
      <wsdl:output message="tns:GetStockSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPrice">
      <wsdl:input message="tns:GetPriceSoapIn" />
      <wsdl:output message="tns:GetPriceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryDate">
      <wsdl:input message="tns:GetDeliveryDateSoapIn" />
      <wsdl:output message="tns:GetDeliveryDateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="XHardwareSoap" type="tns:XHardwareSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllInformation">
      <soap:operation soapAction="http://x-hardware.notld/GetAllInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStock">
      <soap:operation soapAction="http://x-hardware.notld/GetStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrice">
      <soap:operation soapAction="http://x-hardware.notld/GetPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryDate">
      <soap:operation soapAction="http://x-hardware.notld/GetDeliveryDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="XHardwareSoap12" type="tns:XHardwareSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllInformation">
      <soap12:operation soapAction="http://x-hardware.notld/GetAllInformation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStock">
      <soap12:operation soapAction="http://x-hardware.notld/GetStock" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrice">
      <soap12:operation soapAction="http://x-hardware.notld/GetPrice" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDeliveryDate">
      <soap12:operation soapAction="http://x-hardware.notld/GetDeliveryDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="XHardware">
    <wsdl:port name="XHardwareSoap" binding="tns:XHardwareSoap">
      <soap:address location="localhost/app3/Service/X-Hardware.asmx" />
    </wsdl:port>
    <wsdl:port name="XHardwareSoap12" binding="tns:XHardwareSoap12">
      <soap12:address location="localhost/app3/Service/X-Hardware.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>